@import url('https://fonts.googleapos.com/css2?family=Lato:wght@100,300,400,700,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{
    background: #0f0d0f;
    font-family: 'Lato', sans-serif;
}

button{
    border:none;
}

button:focus{
    outline:0;

}


.main{
    display: grid;
    height: 100vh;
    place-items: center;
    width: 100%;
}

.nav ul {
    display: flex;
    background: linear-gradient(45deg, transparent, #7e7e7e, transparent, #7e7e7e, transparent);
    border-radius: 60px;
    padding: 20px;
    position: relative;
}

.nav ul:before{
    border-radius:60px;
    bottom: 2px;
    content:'';
    left: 2px;
    position: absolute;
    top: 2px;
    right: 2px;
     background:#0f0d0f;
}

.nav ul li{
    list-style: none;
}

.nav ul li .tab_button{
    background: none;
    border-radius: 20px;
    cursor: pointer;
    height: 100px;
    position:relative;
    width: 100px;
    z-index: 1;
}

.nav ul li .tab_button:before{
    background: #37e393;
    border-radius: 10px;
    bottom:-8px;
    content: '';
    height: 16px;
    left: 50%;
    opacity: 0;
    position: absolute;
    transition: .5s;
    transform: translateX(-50%) translateY(-40px);
    visibility: hidden   ;
    width: 40px;
    z-index: -1;
}



.nav ul li .tab_button:hover:before,
.nav ul li .active_tab_button:before{
    opacity: 1;
    transform: translateX(-50%) translateY(0px);
    visibility: visible;

}

.nav ul li .tab_button::after{
    backdrop-filter: blur(10px);
    border-radius: 20px;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

}

.nav ul li .tab_button .icon {
    display: block;
    position: relative;
    z-index: 1;
}

.nav ul li .tab_button .icon:before{
    background: #0b86b5;
    border-radius: 50%;
    box-shadow: 0px 10px 30px #0b86b5;
    content: '';
    height: 60px;
    left: 50%;
    opacity: 0;
    position: absolute;
    transform: translateX(-50%);
    transition: .5s;
    top:0;
    visibility: hidden;
    width: 60px;
    z-index: -1;

}

.nav ul li .tab_button:hover .icon::before,
.nav ul li .active_tab_button .icon:before{
    opacity: 1;
    top: -60px;
    visibility: visible;
}


.nav ul li .tab_button .icon i{
    color: #7e7e7e;
    display: block;
    font-size: 24px;
    position: relative;
    transition: .5s;
    z-index:1;   
}

.nav ul li .tab_button:hover .icon i,
.nav ul li .active_tab_button .icon i{
    color: #fff;
    transform: translateY(-42px);

}

.nav ul li .tab_button .name{
    color: #7e7e7e;
    display: block;
    margin-top: 15px;
    position: relative;
    z-index:1;
}

.nav ul li .tab_button:hover .name,
.nav ul li .active_tab_button .name{
    color: #fff;

}